In [51]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
import requests

In [ ]:
from config import gkey
import gmaps
gmaps.configure(api_key=gkey)

In [52]:
shootings_df = pd.read_csv("Stanford_MSA_Shooting.csv")
shootings_df.head()

,CaseID,Title,Location,City,State,Latitude,Longitude,Number of Civilian Fatalities,Number of Civilian Injured,Number of Enforcement Fatalities,...,Data Source 3,Data Source 4,Data Source 5,Data Source 6,Data Source 7,Military Experience,Class,Depreciation,Notes,Edit Date
0,1,University of Texas at Austin,"Austin, Texas",Austin,Texas,30.198887,-97.844159,15,32,1,...,http://news.google.com/newspapers?id=lkk0AAAAI...,http://news.google.com/newspapers?id=PPUjAAAAI...,http://books.google.com/books?id=ClYEAAAAMBAJ&...,NaN,NaN,Yes,SPK,1,NaN,6/8/2016
1,2,Rose-Mar College of Beauty,"Mesa, Arizona",Mesa,Arizona,33.422687,-111.816320,5,1,0,...,http://www.nydailynews.com/news/crime/beauty-s...,http://books.google.com/books?id=Cre7qsswRiwC&...,NaN,NaN,NaN,Unknown,MS,1,NaN,6/8/2016
2,3,New Orleans Police Shootings,"New Orleans, Louisiana",New Orleans,Louisiana,30.068724,-89.931474,4,8,5,...,http://www.trutv.com/library/crime/notorious_m...,http://books.google.com/books?id=TfEDmROcZwEC&...,NaN,NaN,NaN,Unknown,SPK,1,NaN,6/22/2016
3,4,Clara Barton Elementary School,"Chicago, Illinois",Chicago,Illinois,41.839280,-87.688181,1,3,0,...,http://www.leagle.com/xmlResult.aspx?page=1&xm...,NaN,NaN,NaN,NaN,Unknown,MS,1,NaN,6/21/2016
4,5,Olean High School,"Olean, New York",Olean,New York,42.081854,-78.432139,3,7,0,...,http://www.newswithviews.com/Erica/Carle10.htm,http://books.google.com/books?id=ZuKoSskEWyIC&...,"""Olean High School Shooting"". Larrie Benton Za...",NaN,NaN,Unknown,MS,1,NaN,6/21/2016

In [53]:
#ANGIE
#Filter out needed columns from original dataframe
shootings_df = shootings_df[["Title", "City", "State", "Latitude", "Longitude", "Number of Civilian Fatalities",
                    "Number of Civilian Injured", "Number of Enforcement Fatalities", 
                    "Number of Enforcement Injured","Total Number of Victims",
                    "Date", "Type of Gun - General",
                    "Total Number of Guns", "Relationship to Incident Location"]]

In [ ]:
#ANGIE
#Obtain coordinates from the latitude and longitude columns
loc = []
for index, row in shootings_df.iterrows():
    coordinates = (row["Latitude"],row["Longitude"]) 
    loc.append(coordinates)

In [ ]:
#ANGIE
#Format map
figure_layout = {
    'width': '800px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [ ]:
#ANGIE
#Assign the marker layer to a variable
markers = gmaps.marker_layer(loc)
#Add the layer to the map
fig.add_layer(markers)
fig

In [54]:
#ANGIE
#Data cleaning
shootings_df["Relationship to Incident Location"] = shootings_df["Relationship to Incident Location"].replace(
    {"Place of Residency": "Place of residency", "Place of Recreation": "Place of recreation",
    "Place of Business/employment": "Place of business/employment", "Residential home/Neighborhood": "Place of residency" })

shootings_df["Type of Gun - General"] = shootings_df["Type of Gun - General"].replace({"handgun": "Handgun", "Multiple Guns": "Multiple guns",
                                                                                      "Multiple guns\r\n": "Multiple guns", "\r\nMultiple guns": "Multiple guns",
                                                                                      "Semi-Automatic Rifle": "Rifle", "9-mm": "Handgun"})

#Fill empty rows with unknown
shootings_df["Relationship to Incident Location"] = shootings_df["Relationship to Incident Location"].fillna("Unknown")

In [55]:
#ANGIE
#shootings_df.count()
#shootings_df["Relationship to Incident Location"].value_counts()
#shootings_df["Type of Gun - General"].value_counts()

In [56]:
#ANGIE
#Combine the lat. and long. into one column
shootings_df["Location"] = (shootings_df["Latitude"]).astype(str)+','+ shootings_df["Longitude"].astype(str)

#Create new column with total number of victim fatalitites
shootings_df["Total Number of Victim Fatalities"] = shootings_df["Number of Civilian Fatalities"] + shootings_df["Number of Enforcement Fatalities"]

#Rearrange column order
shootings_df = shootings_df[["Title", "City", "State", "Location", "Number of Civilian Fatalities",
                    "Number of Civilian Injured", "Number of Enforcement Fatalities", 
                    "Number of Enforcement Injured", "Total Number of Victim Fatalities", "Total Number of Victims",
                    "Date", "Type of Gun - General",
                    "Total Number of Guns", "Relationship to Incident Location"]]
shootings_df

,Title,City,State,Location,Number of Civilian Fatalities,Number of Civilian Injured,Number of Enforcement Fatalities,Number of Enforcement Injured,Total Number of Victim Fatalities,Total Number of Victims,Date,Type of Gun - General,Total Number of Guns,Relationship to Incident Location
0,University of Texas at Austin,Austin,Texas,"30.198887300000003,-97.84415949",15,32,1,0,16,48,8/1/1966,Multiple guns,7,Place of schooling
1,Rose-Mar College of Beauty,Mesa,Arizona,"33.42268696,-111.8163202",5,1,0,0,5,6,11/12/1966,Handgun,1,None
2,New Orleans Police Shootings,New Orleans,Louisiana,"30.0687242,-89.93147412",4,8,5,5,9,22,12/31/1972,Multiple guns,2,Local government
3,Clara Barton Elementary School,Chicago,Illinois,"41.83928045,-87.68818145",1,3,0,0,1,4,1/17/1974,Handgun,2,Place of schooling
4,Olean High School,Olean,New York,"42.08185369,-78.43213922",3,7,0,0,3,10,12/30/1974,Multiple guns,2,Place of schooling
5,Los Angeles Computer Learning Center,Los Angeles,California,"34.17622092,-118.53995420000001",1,6,1,0,2,8,2/19/1976,Shotgun,1,Place of schooling
6,Cal State Fullerton,Fullerton,California,"33.88404244,-117.92785",7,2,0,0,7,9,7/12/1976,Rifle,1,Place of business/employment
7,Grover Cleveland Elementary School,San Diego,California,"32.86357277,-117.1281628",2,8,0,1,2,11,1/29/1979,Rifle,1,Place of residency
8,University of South Carolina,Columbia,South Carolina,"34.05098834,-80.82077527",2,5,0,0,2,7,10/6/1979,Handgun,1,Place of schooling
9,Valley High School,Las Vegas,Nevada,"36.18931923,-115.3264875",1,2,0,0,1,3,3/19/1982,Handgun,1,Place of schooling
10,Welding shop in Miami,Miami,Florida,"25.79653943,-80.20840397",8,3,0,0,8,11,8/20/1982,Shotgun,1,Place of business/employment
11,Wah Mee Club in Seattle,Seattle,Washington,"47.62199575,-122.323646",13,1,0,0,13,14,2/18/1983,Handgun,2,Place of recreation
12,Johnston Post Office,Johnston,South Carolina,"33.83272887,-81.8051584",1,3,0,0,1,4,8/19/1983,Shotgun,1,Place of business/employment
13,49th Street Elementary School,Los Angeles,California,"34.17622092,-118.53995420000001",2,12,0,0,2,14,2/24/1984,Multiple guns,3,Place of residency
14,Ianni's Club in Dallas,Dallas,Texas,"32.79480596,-96.76631094",6,1,0,0,6,7,6/29/1984,Handgun,1,Place of recreation
15,McDonald's restaurant in San Ysidro,San Ysidro,California,"32.555556,-117.047656",21,19,0,0,21,40,7/18/1984,Multiple guns,3,Place of recreation
16,Goddard Junior High School,Goddard,Kansas,"37.67129418,-97.55070476",1,3,0,0,1,4,1/21/1985,Multiple guns,2,Place of schooling
17,Atlanta Post Office,Atlanta,Georgia,"33.7629969,-84.4231328",2,1,0,0,2,3,3/6/1985,Handgun,1,Place of business/employment
18,New York Technical College,Brooklyn,New York,"40.679276,-73.939513",1,4,0,0,1,5,8/12/1986,Handgun,2,Place of schooling
19,"Post office in Edmond, Oklahoma",Edmond,Oklahoma,"35.66889223,-97.41438792",14,6,0,0,14,20,8/20/1986,Handgun,3,Place of business/employment
20,Fergus County High School,Lewistown,Montana,"47.03740653,-109.4844918",1,3,0,0,1,4,12/4/1986,Handgun,1,Place of schooling
21,Palm Bay Shopping Centers,Palm Bay,Florida,"27.98388983,-80.66662713",4,14,2,0,6,20,4/23/1987,Multiple guns,3,Place of residency
22,Pinellas Park High School,Pinellas Park,Florida,"27.84887061,-82.71058000000001",1,2,0,0,1,3,2/11/1988,Multiple guns,2,Place of schooling
23,Electromagnetic Systems Laboratory (ESL),Sunnyvale,California,"37.38344257,-122.02561850000001",7,4,0,0,7,11,2/16/1988,Multiple guns,7,Place of business/employment
24,Hubbard Woods Elementary School,Winnetka,Illinois,"42.10648807,-87.74211141",1,7,0,0,1,8,5/20/1988,Multiple guns,2,Place of residency
25,Comet Auto Parts and Montefiore School,Chicago,Illinois,"41.83928045,-87.68818145",3,1,1,1,4,6,9/22/1988,Handgun,1,Place of residency
26,Oakland Elementary School,Greenwood,South Carolina,"34.1928952,-82.15355508",2,9,0,0,2,11,9/26/1988,Handgun,1,Place of schooling
27,New Orleans Downtown Post Office,New Orleans,Louisiana,"30.0687242,-89.93147412",0,3,0,1,0,4,12/14/1988,Shotgun,1,Place of business/employment
28,Cleveland Elementary School,Stockton,California,"37.96631812,-121.30187749999999",5,30,0,0,5,35,1/17/1989,Multiple guns,2,Place of schooling
29,Orange Glenn Post Office,Escondido,California,"33.13439925,-117.07225279999999",3,1,0,0,3,4,8/10/1989,Handgun,1,Place of business/employment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Forestville, Maryland Drive-by",Forestville,Maryland,"38.845113,-76.874972",1,4,0,0,1,5,4/26/2016,Unknown,Unknown,Unknown
306,"Ferguson, MO Drive by",Ferguson,Missouri,"38.744217,-90.305391",0,4,0,0,0,4,4/29/2016,Unknown,Unknown,Unknown
307,"Appling, GA family murder",Appling,Georgia,"33.54609,-82.316315",5,0,0,0,5,5,4/22/2016,Unknown,Unknown,Place of residency
308,"Auburn, AL club shootout",Auburn,Alabama,"32.609857,-85.48078199999999",3,1,0,0,3,4,4/23/2016,Unknown,Unknown,Unknown
309,Nashville Music City Central shooting,Nashville,Tennessee,"36.162664,-86.781602",0,4,0,0,0,4,4/25/2016,Unknown,Unknown,Unknown
310,"Murfreesboro, TN party shooting",Murfreesboro,Tennessee,"35.845621,-86.39027",5,0,0,0,5,5,5/1/2016,Unknown,Unknown,Unknown
311,"Florida Ex-wife, ex-girlfriend murder",Green Cove Springs,Florida,"29.991909000000003,-81.678147",3,0,0,0,3,3,5/3/2016,Unknown,Unknown,Place of business/employment
312,"Katy, Texas work retaliation murder",Katy,Texas,"29.785784999999997,-95.824396",1,2,0,0,1,3,5/4/2016,Shotgun,1,Place of business/employment
313,"Card game ambush in Shreveport, Louisiana",Shreveport,Louisiana,"32.525152,-93.750179",2,6,0,0,2,8,5/5/2016,Rifle,Unknown,Unknown
314,"Allapattah, Florida street shooting",Allapattah,Florida,"25.800314999999998,-80.226555",1,3,0,0,1,4,5/5/2016,Unknown,Unknown,Unknown
315,Federal Security Officer has day shooting ramp...,Bethesda,Maryland,"38.984652000000004,-77.094709",3,3,0,0,3,6,5/6/2016,Handgun,1,Unknown
316,"Montgomery, Alabama street shooting",Montgomery,Alabama,"32.366805,-86.29996899999999",1,3,0,0,1,4,5/6/2016,Unknown,Unknown,Unknown
317,Detroit street shooting,Detroit,Michigan,"42.331427000000005,-83.045754",1,4,0,0,1,5,5/6/2016,Unknown,Unknown,Unknown
318,Austin Taco truck murder,Austin,Texas,"30.267153000000004,-97.743061",1,3,0,0,1,4,5/8/2016,Shotgun,1,Unknown
319,Birmingham Domestic Dispute Murder,Birmingham,Alabama,"33.520661,-86.80249",1,4,0,0,1,5,5/11/2016,Rifle,1,Place of residency
320,Chicago bus stop ambush,Chicago,Illinois,"41.878114000000004,-87.629798",0,5,0,0,0,5,5/11/2016,Unknown,Unknown,Unknown
321,Chicago Family Murder Suicide,Chicago,Illinois,"41.878114000000004,-87.629798",3,0,0,0,3,3,5/12/2016,Unknown,Unknown,Place of residency
322,Phoenix girlfriend murder and cop shootout,Phoenix,Arizona,"33.448377,-112.074037",1,0,0,2,1,3,5/14/2016,Unknown,Unknown,Place of residency
323,"Friend murder and fire coverup in Moultrie, GA",Moultrie,Georgia,"31.179940999999996,-83.788839",5,0,0,0,5,5,5/15/2016,Unknown,Unknown,Place of residency
324,Trailer park triple homocide in South Carolina,Ravenel,South Carolina,"32.763232,-80.250099",3,1,0,0,3,4,5/17/2016,Handgun,1,Place of residency
325,Graduation party drive by,Jackson,Georgia,"33.294565000000006,-83.966021",1,3,0,0,1,4,5/18/2016,Unknown,Unknown,Place of residency
326,"Stockton, CA murder",Stockton,California,"37.957702000000005,-121.29078",1,3,0,0,1,4,5/21/2016,Unknown,Unknown,Unknown
327,NYC Concert shooting,New York City,New York,"40.712784,-74.005941",1,2,0,0,1,3,5/25/2016,Handgun,1,Unknown
328,Las Vegas sidewalk shooting,Las Vegas,Nevada,"36.169940999999994,-115.13983",0,4,0,0,0,4,5/29/2016,Handgun,1,None
329,Army vet shooting in Houston,Houston,Texas,"29.760427000000004,-95.369803",1,4,0,2,1,7,5/29/2016,Multiple guns,2,None
330,Fort Warne drive by,Fort Wayne,Indiana,"41.079273,-85.139351",0,4,0,0,0,4,5/31/2016,Unknown,Unknown,Unknown
331,Cape Coral Shooting Spree,Cape Coral,Florida,"26.562853999999998,-81.949533",2,3,0,0,2,5,6/7/2016,Shotgun,1,Unknown
332,"Webster, MN party shooting",Webster,Minnesota,"44.529686,-93.352723",0,4,0,0,0,4,6/11/2016,Unknown,Unknown,Unknown
333,Orlando Nightclub Massacre,Orlando,Florida,"28.538334999999996,-81.37923599999999",49,52,0,1,49,102,6/12/2016,Multiple guns,2,Place of recreation
334,Nightclub Disput,Lyman,South Carolina,"34.948174,-82.12733100000001",0,3,0,0,0,3,6/26/2016,Handgun,1,Unknown

In [ ]:
#ANGIE
#Create 2 new columns
shootings_df["Nearest Police Department"] = ""
shootings_df["Nearest Police Department Proximity"] = ""

#Parameters for google api nearby search 
params = {"location": "",
          "rankby": "distance", 
          "type": "police",
          "keyword": "department",
          "name": "police department",
          "key": gkey,}

#Loop through rows in the dataframe
for index, row in shootings_df.iterrows():
    
    location = row["Location"]
    
    params["location"] = location
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params).json()
    
    #Add name of the nearest police department to column
    shootings_df.loc[index, "Nearest Police Department"] = response["results"][0]["name"]
    
    #Obtain latitude of nearest police department
    pd_lat = response["results"][0]["geometry"]["location"]["lat"]
    
    #Obtain longitude of nearest police department
    pd_lon = response["results"][0]["geometry"]["location"]["lng"]
    
    #Combine the latitude and longitude into a string
    pd_location = f"{pd_lat},{pd_lon}"
    
    #Find distance from shooting site to the nearest police department
    dist_url = ('https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins={0}&destinations={1}&key={2}').format(location, pd_location, gkey)
    
    data = requests.get(dist_url).json()
    
    proximity = str(data["rows"][0]["elements"][0]["distance"]["text"])
    
    #If the unit is in ft...
    #Drop the last 3 characters
    #Convert units to miles
    #Add proximity to column 
    if " ft" in proximity:        
        proximity = proximity[:-3]
        proximity = float(proximity) / 5280
        shootings_df.loc[index, "Nearest Police Department Proximity"] = str(proximity)
      
    #Else add the proximity to column
    else:
        shootings_df.loc[index, "Nearest Police Department Proximity"] = proximity

shootings_df.head()

In [ ]:
#ANGIE
#Drop the last 3 characters in the column
shootings_df['Nearest Police Department Proximity'] = shootings_df['Nearest Police Department Proximity'].apply(lambda x: x.replace(" mi", ""))

#Convert values in column to floats
shootings_df["Nearest Police Department Proximity"] = pd.to_numeric(shootings_df["Nearest Police Department Proximity"])

#Round two decimal places
decimals = 2
shootings_df["Nearest Police Department Proximity"] = shootings_df["Nearest Police Department Proximity"].apply(lambda x: round(x, decimals))

In [ ]:
#ANGIE
#Create scatter plot
#Correlation between nearest police department proximity and total number of victims
plt.scatter(shootings_df["Nearest Police Department Proximity"], shootings_df["Total Number of Victims"], marker="o", facecolors="gold", edgecolors="black", alpha=0.65)
plt.ylabel("Total Number of Victims")
plt.xlabel("Nearest Police Department Proximity (mi)")
plt.show()

In [ ]:
#ANGIE
new_df = shootings_df

#Rename the column to remove spaces
new_df = new_df.rename(columns={"Total Number of Guns": "tot_num_guns"})

#Drop all rows that contain the unknown value
new_df = new_df[~new_df.tot_num_guns.str.contains("Unknown")]

#Convert all values in column to floats
new_df["tot_num_guns"] = pd.to_numeric(new_df["tot_num_guns"])

#Plot correlation between total number of guns and total number of victims
plt.scatter(new_df["tot_num_guns"], new_df["Total Number of Victims"], edgecolors="black", alpha=0.65)
plt.ylabel("Total Number of Victims")
plt.xlabel("Total Number of Guns Used")
plt.show()